<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IM_System.Properties.Settings.CustomerModConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Customer_db.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IM_System.Properties.Settings.ProductsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Products.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IM_System.Properties.Settings.Accounts_dbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Accounts_db.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IM_System.Properties.Settings.ConnectionString" connectionString="Data Source=LAPTOP-QIU652T7\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IM_System.Properties.Settings.masterConnectionString"
            connectionString="Data Source=LAPTOP-QIU652T7\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>